#cloud-config
ssh_pwauth: {{ 'true' if (vm.ssh_pwauth | default(true)) else 'false' }}
users:
  - default
{% if _kvm_vm_ssh_key | trim %}
ssh_authorized_keys:
  - {{ _kvm_vm_ssh_key }}
{% endif %}
{% set _pw = vm.cloud_user_password | default('') %}
{% if _pw %}
chpasswd:
  list: |
     {{ vm.cloud_user | default(_kvm_vm_image.cloud_user | default(kvm_cloud_user)) }}:{{ _pw }}
  expire: false
{% endif %}
{% if (vm.swap_size_gb | default(0) | int) > 0 %}
swap:
  filename: /swapfile
  size: {{ (vm.swap_size_gb | int) * 1073741824 }}
  maxsize: {{ (vm.swap_size_gb | int) * 1073741824 }}
{% endif %}
